* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #1f0016;
}

::-webkit-scrollbar-thumb {
    background: #c155e5;
}

body {
    font-family: 'Lato', sans-serif;
    background: #2e0022;
}

.section1 {
    height: 100vh;
    display: grid;
    place-items: center;
}

.group1 {
    width: 100%;
}

video {
    position: fixed;
    z-index: -1;
}

.nav {
    padding: 10px 0px;
    position: fixed;
    right: 0;
    z-index: 999;
    left: 0;
}

.nav-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 90%;
    margin: auto;
}

.nav-cont>a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

.nav-cont>i {
    position: absolute;
    right: 0;
    color: #dcb2eb;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.bar-link {
    display: none;
}

.nav.active {
    backdrop-filter: blur(21px) saturate(168%);
    background-color: rgba(168, 12, 219, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.group2>ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
    width: 90%;
    margin: auto;
}

li {
    display: inline-block;
    margin: 10px;
}

.group2>ul>li a {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 15px;
    padding: 8px 10px;
    color: white;
    border-bottom: 4px solid transparent;
    border-radius: 5px;
}

.link.active {
    border-bottom: #fcb045 4px solid;
}

.group2>ul>li a:hover {
    transition: all .7s ease-in-out;
}

.group2>p {
    color: white;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
}

.fa-layer-group {
    color: white;
    font-size: 25px;
    ;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section2>.abt-desc>p:nth-child(1) {
    color: #e49ffd;
    margin: 0 0 1rem 0;
}

.section2>.abt-desc>h1:nth-child(3) {
    color: #c155e5;
    font-weight: 800;
    font-size: 70px;
    margin: 0 0 1rem 0;
}

.section2>.abt-desc>h1:nth-child(2) {
    font-size: 70px;
    color: #dcb2eb;
    font-weight: 800;
}

.section1>.section2>.abt-desc>p:nth-child(5) {
    color: white;
    width: 45%;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.7;
    margin: 0 0 1rem 0;
}

.section2>.abt-desc>h3 {
    color: #e49ffd;
    font-size: 25px;
    margin: 0 0 1rem 0;
}

.section2 {
    margin-left: 4rem;
    gap: 5rem;
    margin-top: 5rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.btn:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
}

.btn:hover svg {
    stroke-dashoffset: -480;
}

.btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}

.button {
    display: flex;
    align-items: center;
    gap: 3rem;
}


.fa-brands {
    color: #2e0022;
    background-color: white;
    border-radius: 100%;
    padding: 5px;
}

.icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    left: 3rem;
    top: 22rem;
}

span {
    width: 5%;
    height: 100px;
    background: white;
    display: inline-block;
}


.section3 {
    position: relative;
}

body>div>div>div.section3>h1 {
    text-align: center;
    font-size: 40px;
}

.aboutcontainer {
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 5rem;
    margin: auto;
    width: 90%;
}

.about-embed {
    width: 50%;
}

.about-embed>p {
    width: 100%;
    color: #fff;
    font-weight: 400;
    line-height: 1.7;
    font-size: 15px;
    margin-bottom: 2rem;
}

.sec {
    display: flex;
    align-items: baseline;
    gap: 2px;
}

.sec>h1 {
    text-align: start;
    margin-bottom: 2rem;
    text-transform: capitalize;
    font-weight: 700;
    color: #c155e5;
    font-size: 4vw;
}

.sec>span {
    width: 100px;
    height: 1px;
    background: #c155e5;
}

.profile-container {
    width: 35%;
}

.profile-container>img {
    width: 95%;
}

.skills {
    display: flex;
    width: 90%;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.p1 {
    color: #fff;
    backdrop-filter: blur(25px) saturate(127%);
    background-color: rgb(111 15 85 / 87%);
    border: 1px solid #dcb2eb;
    display: inline-block;
    font-size: 12px;
    border-radius: 4px;
    padding: 9px 15px;
    font-weight: 600;
    width: 150px;
    text-align: center;
}

#about>div>div.profile-container>img.\.img1 {
    position: absolute;
    right: 0;
    width: 50%;
}

.flexx {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.button>a:nth-child(1) {
    text-decoration: none;
    color: #fff;
    padding: 12px 23px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: block;
    outline: none;
    border-radius: 7px;
    border: none;
    text-align: center;
    background-size: 120% auto;
    background-image: linear-gradient(315deg, #833ab4 0%, #9e05e9 50%, #fcb045);
}

.button>a:nth-child(1):hover {
    background-position: right center;
}

.button>a:nth-child(1):active {
    top: 2px;
}

.button>a:nth-child(2) {
    text-decoration: none;
    color: #fff;
    padding: 12px 23px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 7px;
    border: 1px solid #fcb045;
}

.button>a:nth-child(2):hover {
    background-image: linear-gradient(315deg, #833ab4 0%, #9e05e9 50%, #fcb045);
    border: 1px solid transparent;
    transition: 0.4s;
}

.button>a:nth-child(2):hover:after {
    opacity: 1;
    right: 10px;
}

.button>a:nth-child(2):after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: 0;
    right: -20px;
    transition: 0.4s;
}

.flex2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 90%;
    gap: 3rem;
    margin: auto;
    margin-bottom: 3rem;
}

.embed {
    width: 40%;
}


.project-frame1 {
    width: 100%;
    height: 250px;
    background: url(./card.jpg);
    background-color: #fff;
    border-radius: 7px;
    background-size: cover;
}

.embed>h2 {
    color: #dcb2eb;
    font-size: 35px;
    font-weight: 700;
    margin: 17px 0;
}


.embed>div>p {
    color: #fff;
    backdrop-filter: blur(25px) saturate(127%);
    background-color: rgb(111 15 85 / 87%);
    border: 1px solid #dcb2eb;
    display: inline-block;
    font-size: 12px;
    border-radius: 4px;
    padding: 9px 15px;
    font-weight: 600;
    width: 70px;
    text-align: center;
}

.embed>div:nth-child(3) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.project-frame2 {
    width: 100%;
    height: 250px;
    background: url(./apparel.jpg);
    background-color: #fff;
    border-radius: 7px;
    background-size: cover;
}


.project-frame3 {
    width: 100%;
    height: 250px;
    background: url(./desktop-design.jpg);
    background-size: cover;
    background-color: #fff;
    border-radius: 7px;
    background-size: cover;

}

.project-frame4 {
    width: 100%;
    height: 250px;
    background: url(./travel\ Agency.PNG);
    background-size: cover;
    background-color: #fff;
    border-radius: 7px;
}


.sec2>h1 {
    text-align: start;
    margin-bottom: 2rem;
    text-transform: capitalize;
    font-weight: 700;
    color: #c155e5;
    font-size: 4vw;
    margin-top: 4rem;
    margin-left: 10.5rem;
}

.sec2 {
    display: flex;
    align-items: baseline;
    gap: 2px;
}

.sec2>span {
    width: 100px;
    height: 1px;
    background: #c155e5;
}

.sec3>h1 {
    text-align: start;
    margin-bottom: 2rem;
    display: inline-block;
    text-transform: capitalize;
    font-weight: 700;
    color: #c155e5;
    font-size: 4vw;
    margin-top: 4rem;
}

.sec3 {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 2px;
}

.sec3>span {
    width: 100px;
    height: 1px;
    background: #c155e5;
}

body>div>div.section3>div.group5>div.textt>p {
    width: 40vw;
    color: rgb(249 239 246 / 87%);
    line-height: 1.4;
    margin-bottom: 3rem;
    font-weight: 300;
}

.textt {
    display: flex;
    justify-content: center;
    width: 100%;
}

.input1 {
    display: inline-block;
    width: 50%;
    height: 7vh;
    padding-left: 10px;
    background: rgb(111 15 85 / 87%);
    color: #fff;
    outline: none;
    border: none;
    border-radius: 7px;
}


.input2 {
    display: inline-block;
    width: 50%;
    height: 7vh;
    padding-left: 10px;
    background: rgb(111 15 85 / 87%);
    color: #fff;
    outline: none;
    border: none;
    border-radius: 7px;
}

.input3 {
    width: 50%;
    height: 7vh;
    outline: none;
    background: rgb(111 15 85 / 87%);
    padding-left: 10px;
    border: none;
    border-radius: 7px;
    margin-bottom: 15px;

}

.textarea {
    width: 50%;
    height: 150px;
    outline: none;
    padding: 15px;
    background: rgb(111 15 85 / 87%);
    border: none;
    resize: none;
    border-radius: 7px;
    margin-bottom: 3rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.inpt-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    gap: 1rem;
    margin: auto;
    margin-bottom: 15px;
}

.mail-btn {
    text-decoration: none;
    color: #fff;
    padding: 12px 23px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    width: 150px;
    margin: auto;
    margin-bottom: 30px;
    display: block;
    outline: none;
    border-radius: 7px;
    border: none;
    text-align: center;
    background-size: 120% auto;
    background-image: linear-gradient(315deg, #833ab4 0%, #9e05e9 50%, #fcb045);
    display: flex;
    align-items: center;
    gap: 8px;
}

.mail-btn:hover {
    background-position: right center;
}

.mail-btn:active {
    top: 2px;
}

.mail-btn>i {
    color: #fcb045;
    font-size: 30px;
}

.mail-btn>a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.group5 {
    background: url(./Colored\ Shapes\ 2.svg);
    background-size: cover;
}

.hidden-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    gap: 1rem;
}

.hidden-icon>a {
    text-decoration: none;
}

.group5>p {
    color: rgb(249 239 246 / 87%);
    text-align: center;
    font-size: 12px;
    margin-bottom: 2rem;
}

.flex-icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    padding-top: 13.5rem;
    padding-right: 4px;
}

.flex-icon>a>i {
    color: #833ab4;
    font-size: 20px;
}

.project-frame4>a {
    text-decoration: none;
}


@media screen and (max-width:1091px) {
    .about-embed {
        width: 45%;
    }
}

@media screen and (max-width:999px) {
    .section2>.abt-desc>h1:nth-child(2) {
        font-size: 65px;
    }

    .section2>.abt-desc>h1:nth-child(3) {
        font-size: 60px;
    }
}

@media screen and (max-width:991px) {
    .flex2 {
        display: flex;
        flex-direction: column;
    }

    .embed {
        width: 73%;
    }

    .about-embed {
        width: 43%;
    }

}

@media screen and (max-width:890px) {
    .section2>.abt-desc>h1:nth-child(2) {
        font-size: 70px;
    }

    .section2>.abt-desc>h1:nth-child(3) {
        font-size: 50px;
    }

    .about-embed {
        width: 40%;
    }
}

@media screen and (max-width:870px) {
    .icon {
        display: none;
    }

    .abt-desc {
        text-align: center;
    }

    .section1>.section2>.abt-desc>p:nth-child(5) {
        width: 60vw;
        text-align: center;
        margin: auto;
        padding-bottom: 1.5rem;
    }

    .button {
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 5rem;
    }

    .aboutcontainer {
        flex-direction: column;
    }

    .about-embed {
        width: 90%;
        margin: auto;
    }

    .profile-container {
        width: 85%;
    }

    body>div>div.sub-cont>div.section1>div>div.abt-desc>p:nth-child(1) {
        margin-top: 5rem;
    }

    .section2 {
        width: 90%;
        margin: auto;
    }

    body>div>div.section3>div.group5>div.textt>p {
        width: 49vw;
    }

    .hidden-icon {
        display: flex;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width:820px) {
    .sec3>h1 {
        font-size: 5vw;
    }

    #contact>div.textt>p {
        width: 70vw;
    }

    .input1 {
        width: 65%;
    }

    .inpt-flex {
        width: 65%;
    }

    .input3 {
        width: 65%;
    }

    .textarea {
        width: 65%;
    }

    .sec {
        margin-top: 4rem;
    }

    .embed {
        width: 90%;
    }

    .section2>.abt-desc>h1:nth-child(2) {
        font-size: 52px;
    }

    .section2>.abt-desc>h1:nth-child(3) {
        font-size: 40px;
    }

    .section2>.abt-desc>h3 {
        font-size: 20px;
    }
}

@media screen and (max-width:660px) {
    .section2>.abt-desc>h1:nth-child(2) {
        font-size: 47px;
    }

    .section2>.abt-desc>h1:nth-child(3) {
        font-size: 30px;
    }

    .section2>.abt-desc>h3 {
        font-size: 15px;
    }

    body>div>div.sub-cont>div.section1>div>div.abt-desc>p:nth-child(5) {
        font-size: 14px;
    }

    .group2 {
        position: relative;
        width: 60%;
        left: 100%;
    }

    .group2.active {
        left: 0;
    }

    .nav-cont>i {
        display: block;

    }

    .group2>ul {
        flex-direction: column;
        justify-content: center;
        position: absolute;
        backdrop-filter: blur(16px) saturate(180%);
        background-color: rgba(189, 16, 224, 0.75);
        left: 70px;
        top: 17px;
        height: 95vh;
        right: 0;
    }

    .inpt-flex {
        flex-direction: column;
        width: 100%;
    }


}

@media screen and (max-width:600px) {
    .sec2>h1 {
        margin-left: 3.5rem;
    }

    #about>div>div.about-embed>div.sec>span {
        width: 70px;
    }

    #work>div.sec2>span {
        width: 70px;
    }

    #contact>div.sec3>span {
        width: 70px;
    }

    .input1 {
        width: 80%;
    }

    .input3 {
        width: 80%;
    }

    .textarea {
        width: 80%;
    }

    #contact>div.textt>p {
        width: 81vw;
    }

    #contact>div.sec3>h1 {
        font-size: 7vw;
    }
}

@media screen and (max-width:400px) {
    .sec2>h1 {
        margin-left: 2.5rem;
    }

    .sec {
        margin-top: 0rem;
    }

    .section2>.abt-desc>h1:nth-child(2) {
        font-size: 37px;
    }

    .section2>.abt-desc>h1:nth-child(3) {
        font-size: 22px;
    }

    .section2>.abt-desc>h3 {
        font-size: 14px;
    }

    body>div>div.sub-cont>div.section1>div>div.abt-desc>p:nth-child(5) {
        font-size: 12px;
    }

    #about>div>div.about-embed>div.sec>span {
        width: 50px;
    }

    #work>div.sec2>span {
        width: 50px;
    }

    #contact>div.sec3>span {
        width: 40px;
    }
}

@media screen and (max-width:320px) {
    #about>div>div.about-embed>div.sec>span {
        width: 40px;
    }

    #work>div.sec2>span {
        width: 40px;
    }

    #contact>div.sec3>span {
        width: 40px;
    }
}