*{
box-sizing: border-box;
margin: 0;
padding: 0;
scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #2e0022;
    /* border-radius: 30px; */
}

::-webkit-scrollbar-thumb {
    background: #c155e5;
    /* border-radius: 20px; */
}

body{
    /* font-family: 'Libre Franklin', sans-serif;
    font-family: 'Oswald', sans-serif; */
    font-family: 'Lato', sans-serif;
    /* font-family: 'Inter', sans-serif; */
}
.section1{
    height: 100vh;
    display: grid;
    place-items: center;
}
.group1{
    width:100%;
    /* height:100vh; */
    /* position:relative; */
}
video{
    position: fixed;
    /* width:100%;
    height:100%;
    object-fit: cover; */
    z-index: -1;
}
.nav{
    /* backdrop-filter: blur(11px) saturate(129%);
    background-color: rgba(233, 30, 199, 0.73);
    border: 1px solid rgba(255, 255, 255, 0.125); */
    padding:12px 0;
}

.group2 {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.group2 > ul > li{
    display: inline;
    margin:10px;
}

.group2 > ul > li a{
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 15px;
    padding:8px 10px;
    color:white;
    border-radius: 5px;
}
.group2 > ul > li a:hover{
    background-color: #dcb2eb;
    /* color:white; */
    /* padding:6px; */
    transition: all .7s ease-in-out; 
}
.group2 > p{
    color:white;
    /* font-family: 'Monoton', cursive; */
    font-size: 25px;
    font-weight: 700;
    cursor:pointer;
}
.fa-layer-group{
    color:white;
    font-size: 25px;;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* fa-solid{
    color:white;
} */
.section2 > .abt-desc > p:nth-child(1) {
    /* color:#9e0585; */
    color: #e49ffd;
    margin: 0 0 1rem 0;
}
.section2 > .abt-desc > h1:nth-child(3){
    color:#c155e5;
    font-weight: 800;
    font-size: 70px;
    /* margin-bottom:1rem; */
    margin: 0 0 1rem 0;
}

 .section2 > .abt-desc > h1:nth-child(2){
    font-size: 70px;
    color:#dcb2eb;
    /* margin:15px 0; */
    font-weight: 800;
    /* margin:1rem; */
    /* margin: 0 0 1rem 0; */
} 
.section1 > .section2 > .abt-desc > p:nth-child(5){
    color:white;
    width:45%;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.7;
    margin: 0 0 1rem 0;
}
.section2 > .abt-desc > h3{
    color:#e49ffd;
    font-size: 25px;
    margin: 0 0 1rem 0;
}
.section2{
    margin-left: 4rem;
    gap:5rem;
    display:flex;
    align-items:flex-end;
    justify-content: center;
    /* height:100vh; */
    /* margin-top: 7rem; */
   
}
/* style start */
.btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
  }
  
  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
  .btn:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
  }
  
  .btn:hover svg {
    stroke-dashoffset: -480;
  }
  
  .btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }
/* style end */
.button{
    display: flex;
    align-items: center;
    gap:3rem;
}
/* body > div > div > div > div.section2 > div > a:nth-child(1){
    background-color: #9c63af;
    padding:10px 22px;
    border-radius: 5px;
/* } */ */
body > div > div > div > div.section2 > div > a:nth-child(2) > i{
    margin-left: 1rem;
}
.fa-brands{
    color:#2e0022;
    background-color: white;
    border-radius: 100%;
    padding:5px;
}
.icon{
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    /* position:absolute; */
    gap:1rem;
    left:3rem;
    top:22rem;
}
span{
    width:5%;
    height:100px;
    background:white;
    display: inline-block;
}

.section3{
    /* background: linear-gradient(to right, #2e0022, #5a3c58, #8a7990, #c0bbc8, #ffffff);; */
    background: black;
    position: relative;
    padding-top:2rem;
}
/* .group3{
    display:flex;
    justify-content: center;
    align-items: center;
    width:90%;
    margin: auto; */
/* } */
body > div > div > div.section3 > h1{
    text-align: center;
    color:aliceblue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 2rem;
    font-size: 40px;
}
 .aboutcontainer{
    display:flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
} 
.about-embed{
    width:40%;
    /* height:40%; */
    /* background-color:#dcb2eb; */
    margin-left: 3rem;
    /* margin-top: 2rem; */
    padding:3rem;
    margin-top: 3rem;
    /* border-top:9px solid black;
    border-left:9px solid #9c63af; */
}
body > div > div > div.section3 > div > div > div > p:nth-child(2){
    width:100%;
    color:white;
}
body > div > div > div.section3 > div > div > div > h1{
    text-align: center;
}
.profile-container > img{
    width:100%;
}
.profile-container{
    width:40%;
}
/* .style1{
    width:1%;
    display: flex;
    flex-direction: column;
    height:58vh;
    background:#9c63af;
    position: absolute;
    /* left:2rem; */
/* } */
/* .style2{
    width:1%;
    height:58vh;
    background:#9c63af;
    position: absolute;
    left:2rem;
/* } */ 